version: '3'

volumes:
  pg_data:

services:
  postgres:
    image: postgres:13.10
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data

  backend:
    build: .
    env_file: .env
    ports:
      - "8080:8080"
    depends_on:
      - postgres