volumes:
  pg_data:

services:
  postgres:
    image: postgres:13.10
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data

  backend:
    image: lo0ken/prices_backend
    env_file: .env
    depends_on:
      - postgres
